spring:
  application:
    name: edufy-gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user-handling
              uri: http://localhost:9595 #change later on to lb://microservice name matching eurekas registered name
              predicates:
                - Path=/api/v1/**
              filters:
                - TokenRelay=
            - id: media-player
              uri: http://localhost:8084 #change later on to lb://microservice name matching eurekas registered name
              predicates:
                - Path=/api/v1/mediaplayer/**
              filters:
                - TokenRelay=
  jwt:
    auth:
      converter:
        resource-id: edufy
        principal-attribute: preferred_username

  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/realms/edufyrealm
            authorization-uri: http://localhost:8080/realms/edufyrealm/protocol/openid-connect/auth
            token-uri: http://localhost:8080/realms/edufyrealm/protocol/openid-connect/token
            user-info-uri: http://localhost:8080/realms/edufyrealm/protocol/openid-connect/userinfo
            jwk-set-uri: http://localhost:8080/realms/edufyrealm/protocol/openid-connect/certs
        registration:
          keycloak:
            client-id: edufy
            client-secret: aDxUzzlWwSfZluttXDx8HurdAF6oxz1z
            authorization-grant-type: authorization_code
            scope: openid, profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

# change the name later on from localhost to eurekas containername
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 9090
