spring:
  application:
    name: edufy-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri:
server:
  port: 8081
